﻿@model IEnumerable<WOOPPlusCloud2.Models.FinanceProcNew_Result>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Revenue Report (@ViewBag.fromDate to @ViewBag.toDate)</h3>

    </div>

    @using (Html.BeginForm("AllRevenueView", "Financial", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
<div class="row">
    <div class="">
        <div class="col-xs-2">
            <div class="controls">

                <p>From:</p> @Html.TextBox("fromDate", null, new { @class = "form-control", @required = "required", @type = "date" })


            </div>
        </div>
    </div>

    <div class="">
        <div class="col-xs-2">
            <div class="controls">
                <p>Insurance:</p>  <select class="form-control" id="insuranceDropDown" name="insuranceDropDown">
                </select>
            </div>
        </div>
    </div>
    <div class="">
        <div class="col-xs-2">
            <div class="controls">
                <p>Visit Type:</p>  <select class="form-control" id="visitsDropDown" name="visitsDropDown">
                </select>
            </div>
        </div>
    </div>


    <div class="">
        <div class="col-xs-2">
            <div class="controls">
                <p>Branch:</p>  <select class="form-control" id="branchDropDown" name="branchDropDown">
                </select>
            </div>
        </div>
    </div>
</div>
        <div class="row">
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">

                        <p>To:</p>@Html.TextBox("toDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                    </div>
                </div>
            </div>
          
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">
                        <p>Scheme:</p>  <select class="form-control" id="schemeDropDown" name="schemeDropDown">
                        </select>
                    </div>
                </div>
            </div>
            <br />

            @Html.Partial("_SearchBtn") <br /> <br />
        </div>

    }
    <!-- /end of box-header -->
    <div class="table-responsive">


        <table id="tableData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Total Costs: @ViewBag.Cost
                    </th>
                    <th>
                        Total Revenue: @ViewBag.Selling
                    </th>
                    <th>
                        Total Savings: @ViewBag.Savings
                    </th>
                </tr>
            </thead>
            <thead>


                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.VISITDATE)
                    </th>



                    <th>
                        @Html.DisplayNameFor(model => model.INVOICENUMBER)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.INVOICECLOSED)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAMES)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.INVOICECANCELLED)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.INVOICECANCELLEDBY)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.INVOICECANCELLEDDATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CHARGEDATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DEPARTMENT)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ITEM)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QTY)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AVGCOST)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TOTALCOST)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TOTALSELLINGPRICE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TOTALRETAILPRICE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SAVINGS)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PAIDAMOUNT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PAYMENTDATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BILLEDBY)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ITEMCANCELLED)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CANCELLATIONCOMMENT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ITEMCANCELLEDBY)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CANCELLEDDATE)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.INSURANCE)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.SCHEME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VISITTYPE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TAT)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.DIAGNOSIS)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.CHANNEL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CENTER)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.VISITDATE)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.INVOICENUMBER)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.INVOICECLOSED)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAMES)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.INVOICECANCELLED)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.INVOICECANCELLEDBY)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.INVOICECANCELLEDDATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CHARGEDATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DEPARTMENT)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ITEM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QTY)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AVGCOST)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TOTALCOST)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TOTALSELLINGPRICE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TOTALRETAILPRICE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SAVINGS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PAID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PAIDAMOUNT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PAYMENTDATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BILLEDBY)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ITEMCANCELLED)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CANCELLATIONCOMMENT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ITEMCANCELLEDBY)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CANCELLEDDATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.INSURANCECODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.INSURANCE)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.SCHEME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VISITTYPE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TAT)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DIAGNOSIS)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CHANNEL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CENTER)
                        </td>

                    </tr>
                }
            </tbody>



        </table>
        <br />

        <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>

    </div>
</div>
@section Scripts
{

    <script type="text/javascript">
         $(function () {

            AjaxCall('@Url.Action("getVisit","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#visitsDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Visit Type</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].visit_type_desc + '">' + response[i].visit_type_desc + '</option>';
                    }
                    $('#visitsDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



        });
               $(function () {

            AjaxCall('@Url.Action("getInsurance","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#insuranceDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Insurance</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].code + '">' +  response[i].payment_account_desc + '</option>';
                    }
                    $('#insuranceDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });
              //scheme
             $('#insuranceDropDown').on("change", function () {
                 var insurance = $('#insuranceDropDown').val();
                 var obj = { insurance: insurance };
                 AjaxCall('@Url.Action("getScheme","DiagnosisReport")', JSON.stringify(obj), 'POST').done(function (response) {
                     if (response.length > 0) {
                         $('#schemeDropDown').html('');
                         var options = '';
                         options += '<option value="" disabled selected>Select Scheme</option>';
                         for (var i = 0; i < response.length; i++) {
                             options += '<option value="' + response[i].scheme_code + '">' + response[i].patient_payment_account_type_desc + '</option>';
                         }
                         $('#schemeDropDown').append(options);

                     }
                 }).fail(function (error) {
                     alert(error.StatusText);
                 });
             });

             //end of scheme
        });



function AjaxCall(url, data, type) {
    return $.ajax({
        url: url,
        type: type ? type : 'GET',
        data: data,
        contentType: 'application/json'
    });
    }
    //Generate data table
    $(function () {
$("#tableData").DataTable({
    "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
});
    });

            //Export Stuff
            var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "AllRevenue" });
            var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
            function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }
            $("#btnExport").click(function () {
                saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'InsuranceSchemeRevenue.xlsx');
            });
         //load branch dropdown
         $(document).ready(function () {

                AjaxCall('@Url.Action("getFacilities", "Centers")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#branchDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Select Branch</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].facility_desc + '">' + response[i].facility_desc + '</option>';
                        }
                        $('#branchDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
         });
    </script>
}
