﻿@model IEnumerable<WOOPPlusCloud2.Models.CashReceipts_Result>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Cash Receipts (@ViewBag.fromDate to @ViewBag.toDate)</h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">

        @using (Html.BeginForm("CashReceiptsView", "Financial", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">

                            <p>From:</p> @Html.TextBox("fromDate", null, new { @class = "form-control", @required = "required", @type = "date" })

                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">
                            <p>Payment Method:</p>  <select class="form-control" id="paymentMethodDropDown" name="paymentMethodDropDown">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">
                            <p>Staff:</p>  <select class="form-control" id="staffDropDown" name="staffDropDown">
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">

                            <p>To:</p>@Html.TextBox("toDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">
                            <p>Branch:</p>  <select class="form-control" id="branchDropDown" name="branchDropDown">
                            </select>
                        </div>
                    </div>
                </div>

                <br />

                @Html.Partial("_SearchBtn") <br /> <br />
            </div>

        }
    

    <div class="table-responsive">

            <p><b>Total: @ViewBag.Total</b></p>
            <p><b>Cash: @ViewBag.Cash</b> </p>
            <p><b>M-Pesa: @ViewBag.MPesa</b></p>
            <p><b>Cheque: @ViewBag.Cheque</b></p>
            <p><b>PDQ: @ViewBag.PDQ</b></p>
            <p><b>Bank: @ViewBag.Bank</b></p>
            <p><b>Cancelled: @ViewBag.Cancelled</b></p>

        
        <table id="tableData" class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ReceiptNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IssuedTo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentMethod1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentMethod2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReceiptAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Staff)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Center)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Cancelled)
                    </th>*@

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiptNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IssuedTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMethod1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMethod2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiptAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Staff)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Center)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Cancelled)
                        </td>*@

                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ReceiptNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IssuedTo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentMethod1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentMethod2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReceiptAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Staff)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Center)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Cancelled)
                    </th>*@

                </tr>
            </tfoot>

        </table>
        <br />
        <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>
    </div>
    </div>
</div>
@section Scripts
{

    <script type="text/javascript">
        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }
        $(function () {
            $("#tableData").DataTable({
        "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
            });

        });
        //Staff drop down

        $(function () {

                AjaxCall('@Url.Action("getStaff", "Financial")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#staffDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Staff</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].Staff + '">' + response[i].Staff + '</option>';
                        }
                        $('#staffDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
            });

          //Export Stuff
        var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "CashReceipts" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        $("#btnExport").click(function () {
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'CashReceipts.xlsx');
        });
          //load branch dropdown
         $(document).ready(function () {

                AjaxCall('@Url.Action("getFacilities", "Centers")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#branchDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Select Branch</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].facility_desc + '">' + response[i].facility_desc + '</option>';
                        }
                        $('#branchDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
         });
         //load payment method dropdown
         $(document).ready(function () {

                AjaxCall('@Url.Action("getPaymentMethods", "Financial")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#paymentMethodDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Mode of Payment</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].payment_method_description + '">' + response[i].payment_method_description + '</option>';
                        }
                        $('#paymentMethodDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
            });
    </script>


}
