﻿@model IEnumerable<WOOPPlusCloud2.Models.FinancialProc_Result>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Detailed Patient Report(@ViewBag.fromDate to @ViewBag.toDate)</h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        @using (Html.BeginForm("FinancialDetailed", "Financial", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div class="row">
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">

                        <p>From:</p> @Html.TextBox("fromDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">
                        <p>Visit Type:</p>  <select class="form-control" id="visitsDropDown" name="visitsDropDown">
                        </select>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">
                        <p>Branch:</p>  <select class="form-control" id="branchDropDown" name="branchDropDown">
                        </select>
                    </div>
                </div>
            </div>


        </div>
            <div class="row">
                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">

                            <p>To:</p>@Html.TextBox("toDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">
                            <p>Insurance:</p>  <select class="form-control" id="insuranceDropDown" name="insuranceDropDown">
                            </select>
                        </div>
                    </div>
                </div>

                <br />

                @Html.Partial("_SearchBtn") <br /> <br />
            </div>


        }
        <div class="table-responsive">


            <table id="tableData" class="table table-bordered table-striped">
                <thead>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.charge_date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NAMES)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.OPNO)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.INVOICE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.INSURANCE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SCHEME)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TOTALCOST)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TOTALSELLINGPRICE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TOTALRETAILPRICE)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.MARGIN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.percentage_margins)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SAVINGS)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.percentage_savings)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.item_description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VISITTYPE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CENTER)
                        </th>
             
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.charge_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAMES)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OPNO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.INVOICE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.INSURANCE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SCHEME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TOTALCOST)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TOTALSELLINGPRICE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TOTALRETAILPRICE)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.MARGIN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.percentage_margins)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SAVINGS)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.percentage_savings)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.item_description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VISITTYPE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CENTER)
                        </td>


                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.charge_date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NAMES)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.OPNO)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.INVOICE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.INSURANCE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SCHEME)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TOTALCOST)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TOTALSELLINGPRICE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TOTALRETAILPRICE)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.MARGIN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.percentage_margins)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SAVINGS)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.percentage_savings)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.item_description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VISITTYPE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CENTER)
                        </th>


                    </tr>
                </tfoot>
            </table>
            <br />
            <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>
        </div>
    </div>
    <!-- /.card-body -->
</div>



@section Scripts
{
    <script type="text/javascript">

        $(function () {

            AjaxCall('@Url.Action("getVisit","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    //visits
                    $('#visitsDropDown').html('');
                    var options = '';


                    options += '<option value="" disabled selected>Select Visit Type</option>';

                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].visit_type_desc + '">' + response[i].visit_type_desc + '</option>';

                    }
                    $('#visitsDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



        });

        $(function () {

            AjaxCall('@Url.Action("getInsurance","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#insuranceDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Insurance</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].payment_account_desc + '">' +  response[i].payment_account_desc + '</option>';
                    }
                    $('#insuranceDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });

        });

        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }
         $(function () {
    $("#tableData").DataTable({
        "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
    });

         });

         //Export Stuff
        var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "DetailedReport" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        $("#btnExport").click(function () {
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'DetailedReport.xlsx');
        });
         //load branch dropdown
         $(document).ready(function () {

                AjaxCall('@Url.Action("getFacilities", "Centers")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#branchDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Select Branch</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].facility_desc + '">' + response[i].facility_desc + '</option>';
                        }
                        $('#branchDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
         });

    </script>

}

