﻿@model IEnumerable<WOOPPlusCloud2.Models.MorbidityProc_Result>

@{
    ViewBag.Title = "MorbidityView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MorbidityView</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiagnosisDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disease_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.disease_name)
            </td>

        </tr>
    }

</table>