﻿@model IEnumerable<WOOPPlusCloud2.Models.PatientReminders_Result>
@if (Request.IsAuthenticated)
{
    ViewBag.Title = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="hold-transition skin-blue sidebar-mini">

    @*<div class="content-wrapper">*@
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Patient Reminders (@ViewBag.fromDate to @ViewBag.toDate)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">
                                            Action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Another action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#"> Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        @using (Html.BeginForm("PatientRemindersView", "PatientReminders", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()


                            <div class="row">
                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">

                                            <p>From:</p> @Html.TextBox("fromDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">

                                            <p>Reminder Type:</p> <select class="form-control" id="reminderDropDown" name="reminderDropDown"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">
                                            <p>Status:</p>  <select class="form-control" id="resolutionsDropDown" name="insuranceDropDown">
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">
                                            <p>Branch:</p>  <select class="form-control" id="branchDropDown" name="branchDropDown">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">

                                            <p>To:</p>@Html.TextBox("toDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">
                                            <p>Assigned To:</p>  <select class="form-control" id="doctorDropDown" name="doctorDropDown">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">
                                            <p>Scheme:</p>  <select class="form-control" id="schemeDropDown" name="schemeDropDown">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                @Html.Partial("_SearchBtn") <br /> <br />
                            </div>

                        }
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table no-margin" id="tableData">
                                            <thead>
                                                <tr>

                                                    <th>
                                                        @Html.DisplayNameFor(model => model.patient_reminder_date)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.reminder_type_description)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TAT)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.patient_facility_number)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.names)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.gender)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Age)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.patient_tel)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.delivery_location)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.patient_reminder_comment)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.sentSms)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.patient_reminder_resolution_desc)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.reminder_resolution_comment)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.SCHEME)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.created_date)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.staff_names)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.assignedDoc)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.facility_desc)
                                                    </th>

                                                </tr>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.patient_reminder_date)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.reminder_type_description)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TAT)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.patient_facility_number)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.names)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.gender)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Age)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.patient_tel)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.delivery_location)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.patient_reminder_comment)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.sentSms)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.patient_reminder_resolution_desc)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.reminder_resolution_comment)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SCHEME)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.created_date)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.staff_names)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.assignedDoc)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.facility_desc)
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>

                                        </table>
                                        <br />
                                        <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            @*<div class="col-md-4">

                                </div>*@
                            <!-- /.col -->

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer">

                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row -->


    </section>
    <!-- /.content -->
    @*</div>*@
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->


</body>

@section Scripts
{

    <script type="text/javascript">
          $(function () {

            AjaxCall('@Url.Action("getScheme","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#schemeDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Scheme</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].scheme_code + '">' + response[i].patient_payment_account_type_desc + '</option>';
                    }
                    $('#schemeDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



        });





        $(function () {

            AjaxCall('@Url.Action("GetDoctors","PatientReminders")', null).done(function (response) {
                if (response.length > 0) {
                    $('#doctorDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Assigned Doctor</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].staff_id + '">' + response[i].staff_other_names + ' ' + response[i].staff_surname  + '</option>';
                    }
                    $('#doctorDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



        });
         $(function () {

            AjaxCall('@Url.Action("GetReminderTypes","PatientReminders")', null).done(function (response) {
                if (response.length > 0) {
                    $('#reminderDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Reminder Types</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].patient_reminder_type_id + '">' + response[i].reminder_type_description  + '</option>';
                    }
                    $('#reminderDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



         });
        //get resolutions
          $(function () {

            AjaxCall('@Url.Action("GetResolutions","PatientReminders")', null).done(function (response) {
                if (response.length > 0) {
                    $('#resolutionsDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Status</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].patient_reminder_resolution_desc + '">' + response[i].patient_reminder_resolution_desc  + '</option>';
                    }
                    $('#resolutionsDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



         });

        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }
        $(function () {
            $("#tableData").DataTable({
        "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
            });

        });

          //Export Stuff
        var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "Reminders" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        $("#btnExport").click(function () {
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'Reminders.xlsx');
        });
          //load branch dropdown
         $(document).ready(function () {

                AjaxCall('@Url.Action("getFacilities", "Centers")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#branchDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Select Branch</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].facility_desc + '">' + response[i].facility_desc + '</option>';
                        }
                        $('#branchDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
            });
    </script>



}
