﻿@model IEnumerable<WOOPPlusCloud2.Models.Urinalysis_Result>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Urinalysis Report (@ViewBag.fromDate to @ViewBag.toDate)</h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">

        @using (Html.BeginForm("UrinalysisView", "Urinalysis", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div class="row">
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">

                        <p>From:</p> @Html.TextBox("fromDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">
                        <p>Insurance:</p>  <select class="form-control" id="insuranceDropDown" name="insuranceDropDown">
                        </select>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">
                        <p>Visit Type:</p>  <select class="form-control" id="visitsDropDown" name="visitsDropDown">
                        </select>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">
                        <p>Branch:</p>  <select class="form-control" id="branchDropDown" name="branchDropDown">
                        </select>
                    </div>
                </div>
            </div>

        </div>
            <div class="row">
                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">

                            <p>To:</p>@Html.TextBox("toDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">
                            <p>Scheme:</p>  <select class="form-control" id="schemeDropDown" name="schemeDropDown">
                            </select>
                        </div>
                    </div>
                </div>
                <br />

                @Html.Partial("_SearchBtn") <br /> <br />
            </div>


        }
    <div class="table-responsive">


        <table id="tableData" class="table table-bordered table-striped">
            <thead>


                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VISITTYPE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.INVOICE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OPNO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAMES)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GENDER)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AGE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LABNO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SAMPLE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TEST)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RESULT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VALUE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LOWREF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HIGHREF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.STATUS)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.INSURANCE)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.SCHEME)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ICD10)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DIAGNOSIS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DIAGNOSISCOMMENT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DRUG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NOTES)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TAG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CENTER)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VISITTYPE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.INVOICE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OPNO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAMES)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GENDER)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AGE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LABNO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SAMPLE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TEST)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RESULT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VALUE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LOWREF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HIGHREF)
                        </td>
                        @if (item.STATUS == "HIGHER")
                        {
                            <td>

                                <font color="red">@Html.DisplayFor(modelItem => item.STATUS)</font>
                            </td>
                        }
                        else if (item.STATUS == "NORMAL")
                        {
                            <td>

                                <font color="green">@Html.DisplayFor(modelItem => item.STATUS)</font>
                            </td>
                        }
                        else
                        {
                            <td>

                                <font color="orange">@Html.DisplayFor(modelItem => item.STATUS)</font>
                            </td>
                        }



                        <td>
                            @Html.DisplayFor(modelItem => item.INSURANCE)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.SCHEME)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ICD10)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DIAGNOSIS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DIAGNOSISCOMMENT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DRUG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOTES)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TAG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CENTER)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CENTER)
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VISITTYPE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.INVOICE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OPNO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAMES)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GENDER)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AGE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LABNO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SAMPLE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TEST)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RESULT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VALUE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LOWREF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HIGHREF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.STATUS)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.INSURANCE)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.SCHEME)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ICD10)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DIAGNOSIS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DIAGNOSISCOMMENT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DRUG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NOTES)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TAG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CENTER)
                    </th>

                </tr>
            </tfoot>

        </table>
        <br />
        <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>
    </div>
    </div>
</div>
@section Scripts
{

    <script type="text/javascript">

        $(function () {

            AjaxCall('@Url.Action("getVisit","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#visitsDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Visit Type</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].visit_type_desc + '">' + response[i].visit_type_desc+ '</option>';
                    }
                    $('#visitsDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



        });


         $(function () {

            AjaxCall('@Url.Action("getInsurance","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#insuranceDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Insurance</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].code + '">' +  response[i].payment_account_desc + '</option>';
                    }
                    $('#insuranceDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });
             //scheme
             $('#insuranceDropDown').on("change", function () {
                 var insurance = $('#insuranceDropDown').val();
                 var obj = { insurance: insurance };
                 AjaxCall('@Url.Action("getScheme","DiagnosisReport")', JSON.stringify(obj), 'POST').done(function (response) {
                     if (response.length > 0) {
                         $('#schemeDropDown').html('');
                         var options = '';
                         options += '<option value="" disabled selected>Select Scheme</option>';
                         for (var i = 0; i < response.length; i++) {
                             options += '<option value="' + response[i].scheme_code + '">' + response[i].patient_payment_account_type_desc + '</option>';
                         }
                         $('#schemeDropDown').append(options);

                     }
                 }).fail(function (error) {
                     alert(error.StatusText);
                 });
             });

             //end of scheme
        });

       


        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }
        $(function () {
            $("#tableData").DataTable({
        "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
            });

        });

          //Export Stuff
        var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "Urinalysis" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        $("#btnExport").click(function () {
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'Urinalysis.xlsx');
        });
          //load branch dropdown
         $(document).ready(function () {

                AjaxCall('@Url.Action("getFacilities", "Centers")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#branchDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Select Branch</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].facility_desc + '">' + response[i].facility_desc + '</option>';
                        }
                        $('#branchDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
            });
    </script>



}