﻿@model  IEnumerable<WOOPPlusCloud2.Models.CompleteMovementProc_Result>

@{
    ViewBag.Title = "CompleteMovementView";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Stocks Report (@ViewBag.fromDate to @ViewBag.toDate)</h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">


        @using (Html.BeginForm("CompleteMovementView", "CompleteMovement", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div class="row">
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">

                        <p>From:</p> @Html.TextBox("fromDate", null, new { @class = "form-control", @required = "required", @type = "date" })

                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">
                        <p><b>Category:</b></p>  <select class="form-control" id="categoriesDropDown" name="categoriesDropDown">
                        </select>
                    </div>
                </div>
            </div>

        </div>
            <div class="row">
                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">

                            <p>To:</p>@Html.TextBox("toDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">
                            <p>Branch:</p>  <select class="form-control" id="branchDropDown" name="branchDropDown">
                            </select>
                        </div>
                    </div>
                </div>
                <br /><br />
                @Html.Partial("_SearchBtn") <br /> <br />
            </div>

          
         

        }
        <div class="table-responsive">


            <table id="tableData" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Total Sales: @ViewBag.TotalSales
                        </th>
                        <th>
                            Total Costs: @ViewBag.TotalCosts
                        </th>
                        <th>
                            Margin: @ViewBag.Margin
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>

                        <th>
                            Item
                        </th>

                        <th>
                            Stock Difference
                        </th>
                        <th>
                            Reorder Level
                        </th>
                        <th>
                            Starting Qty
                        </th>
                        <th>
                            Received
                        </th>
                        <th>
                            Dispensed
                        </th>

                        <th>
                            Location Qty
                        </th>
                        <th>
                            Unit Cost
                        </th>
                        <th>
                            Total Costs
                        </th>
                        <th>
                            Unit Selling
                        </th>
                        <th>
                            Total Selling
                        </th>
                        <th>
                            Margin
                        </th>
                        <th>
                            %Margin
                        </th>
                        <th>
                            Center
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.center_product_description)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.StockDifference)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.center_product_reorder_level)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OPENINGBALANCE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RECIEVED)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DISPENSED)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.LOCATIONQTY)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cost_price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TOTALCOSTS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.product_price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TOTALSELLING)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MARGIN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MARGINP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CENTER)
                        </td>

                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>

                        <th>
                            Item
                        </th>
                        <th>
                            Stock Difference
                        </th>
                        <th>
                            Reorder Level
                        </th>
                        <th>
                            Starting Qty
                        </th>
                        <th>
                            Received
                        </th>
                        <th>
                            Dispensed
                        </th>

                        <th>
                            Location Qty
                        </th>
                        <th>
                            Unit Cost
                        </th>
                        <th>
                            Total Costs
                        </th>
                        <th>
                            Unit Selling
                        </th>
                        <th>
                            Total Selling
                        </th>
                        <th>
                            Margin
                        </th>
                        <th>
                            %Margin
                        </th>
                        <th>
                            Center
                        </th>

                    </tr>
                </tfoot>

            </table>
            <br />
            <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>

        </div>
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript">
              $(function () {

            AjaxCall('@Url.Action("getCategories","CompleteMovement")', null).done(function (response) {
                if (response.length > 0) {
                    $('#categoriesDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Category</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].location_stock_department_description + '">' +  response[i].location_stock_department_description + '</option>';
                    }
                    $('#categoriesDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



              });
             function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }

            $(function () {
                $("#tableData").DataTable({
                    "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
                });

            });
            //Export Stuff
            var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "CompleteMovement" });
            var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
            function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }
            $("#btnExport").click(function () {
                saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'CompleteMovement.xlsx');
            });
          //load branch dropdown
         $(document).ready(function () {

                AjaxCall('@Url.Action("getFacilities", "Centers")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#branchDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Select Branch</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].facility_desc + '">' + response[i].facility_desc + '</option>';
                        }
                        $('#branchDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
         });
    </script>
}


