﻿@model  IEnumerable<WOOPPlusCloud2.Models.GoodsSold_Result>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Goods Sold Report (@ViewBag.fromDate to @ViewBag.toDate)</h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">

        @using (Html.BeginForm("GoodsSoldView", "GoodsSold", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_DateSearch")<br /><br />

            @Html.Partial("_SearchBtn")<br /> <br />

        }

        <div class="table-responsive">


            <table id="tableData" class="table table-bordered table-striped">
                <thead>


                    <tr>
                        <th>
                            Total Sales: @ViewBag.TotalSales
                        </th>
                        <th>
                            Total Costs: @ViewBag.TotalCosts
                        </th>
                        <th>
                            Margin: @ViewBag.Margin
                        </th>
                    </tr>
                </thead>
                <thead>

                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.product_code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DRUG)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cost_price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitSelling)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalSold)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Profit)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.product_code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DRUG)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cost_price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitSelling)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalSold)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profit)
                            </td>

                        </tr>
                    }
                </tbody>

                <tfoot>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.product_code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DRUG)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cost_price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitSelling)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalSold)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Profit)
                        </th>

                    </tr>
                </tfoot>

            </table>
            <br />
            <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>
        </div>
    </div>
</div>
@section Scripts
            {
    <script>

      $(function () {
    $("#tableData").DataTable({
        "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
    });

                 });
          //Export Stuff
    var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "GoodsSold" });
    var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
    function s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
        return buf;
    }
    $("#btnExport").click(function () {
        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'GoodsSold.xlsx');
    });
       
    
    </script>
}
