﻿@model WOOPPlusCloud2.Models.ApplicationUser

<h3>Are you sure you want to delete this User?</h3>
<div>
    <h4>User Details</h4>
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_roles)
        </dd>


    </dl>

    @using (Html.BeginForm("Delete", "ManageUsers", FormMethod.Post, new { role = "form" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
