﻿@model WOOPPlusCloud.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.staff_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_other_names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_other_names)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_category_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_category_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.center_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.center_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.National_id_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.National_id_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_post_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_post_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_post_address_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_post_address_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_town_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_town_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_pin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEndDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>