﻿@model IEnumerable<WOOPPlusCloud2.Models.ApplicationUser>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Manage Users </h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">


            <table id="tableData" class="table table-bordered table-striped">
                <thead>
                    @*<p>
                        @Html.ActionLink("Create New", "Create")
                    </p>*@

                    <tr>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmailConfirmed)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.LockoutEnabled)
                        </th>*@

                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_roles)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Is_Active)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Is_Approved)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailConfirmed)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.LockoutEnabled)
                            </td>*@

                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_roles)
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Is_Active)</td>
                            <td>@Html.DisplayFor(modelItem => item.Is_Approved)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                               
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        @*<th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>*@

                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_roles)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Is_Active)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Is_Approved)
                        </th>
                        <th></th>
                        
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section scripts
    {
    <script type="text/javascript">
        $(function () {
            $("#tableData").DataTable();

        });

        //Export Stuff
        var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "Users" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        $("#btnExport").click(function () {
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'Users.xlsx');
        });
    
    </script>
    }
    



