﻿@model  WOOPPlusCloud2.ViewModels.ConciergeViewModel
@if (Request.IsAuthenticated)
{
    ViewBag.Title = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="hold-transition skin-blue sidebar-mini">

    @*<div class="content-wrapper">*@
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Concierge Outlook (@ViewBag.fromDate to @ViewBag.toDate)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">
                                            Action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Another action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#"> Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        @using (Html.BeginForm("ConciergeIndex", "ConciergeSummary", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            @Html.Partial("_DateSearch")<br /><br />
                            @Html.Partial("_SearchBtn")

                        }
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table no-margin" id="tableData">
                                            <thead>
                                                <tr>
                                                    <th>Order Date</th>
                                                    <th>Total Value</th>
                                                    <th>Quotations</th>
                                                    <th>Confirmed</th>
                                                    <th>Closed</th>
                                                    <th>Dispatched</th>
                                                    <th>Delivered</th>
                                                    <th>Followed Up</th>
                                                    <th>Booked for refill</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.ConciergeOrders)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.OrderDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.total_charge)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.quotations)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Confirmed)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Closed)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Dispatched)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DrugDelivered)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.followup_done)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.drug_refill)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                       
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            @*<div class="col-md-4">

                                </div>*@
                            <!-- /.col -->

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer">

                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Concierge Avg TAT (min) Outlook (@ViewBag.fromDate to @ViewBag.toDate)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">
                                            Action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Another action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#"> Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table no-margin" id="tableData1">
                                            <thead>
                                                <tr>
                                                    <th>Order Date</th>

                                                    <th>Quotations-Confirmed</th>
                                                    <th>Confirmed-Closed</th>
                                                    <th>Closed-Dispatch </th>
                                                    <th>Dispatch-Delivery</th>
                                                    <th>Delivery-Follow Up</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.ConciergeOrders)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.OrderDate)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.QuotationsConfirmedTAT)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ConfirmedClosedTAT)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ConfirmedDispatchTAT)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DispatchDeliveryTAT)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DeliveryFollowUpTAT)
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <br />
                                        <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            @*<div class="col-md-4">

                                </div>*@
                            <!-- /.col -->

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer">

                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
    @*</div>*@
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->


</body>
