﻿@model IEnumerable<WOOPPlusCloud2.Models.DrugPrices_Result>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Drug Prices </h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">

        @using (Html.BeginForm("DrugPrices", "Prices", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">
                            <p>Branch:</p>  <select class="form-control" id="branchDropDown" name="branchDropDown">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">
                            <p>Active:</p>  <select class="form-control" id="activeDropDown" name="activeDropDown">
                                <option value="" disabled selected>All</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />

                @Html.Partial("_SearchBtn") <br /> <br />
            </div>

        }
    <div class="table-responsive">


        <table id="tableData" class="table table-bordered table-striped">
            <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DRUG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UOMCODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PACKSIZE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.COSTPRICE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SELLINGPRICE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RETAILPRICE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CENTER)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DRUG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UOMCODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PACKSIZE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.COSTPRICE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SELLINGPRICE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RETAILPRICE)
                        </td>
                        @if (item.Active == 1)
                        {
                            <td>Active</td>
                        }
                        else
                        {
                            <td>Inactive</td>
                        }

                        <td>
                            @Html.DisplayFor(modelItem => item.CENTER)
                        </td>

                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DRUG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UOMCODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PACKSIZE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.COSTPRICE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SELLINGPRICE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RETAILPRICE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CENTER)
                    </th>

                </tr>
            </tfoot>

        </table>
        <br />
        <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>
    </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">

        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }
        $(function () {
            $("#tableData").DataTable({
        "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
            });

        });

          //Export Stuff
        var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "DrugPrices" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        $("#btnExport").click(function () {
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'DrugPrices.xlsx');
        });
          //load branch dropdown
         $(document).ready(function () {

                AjaxCall('@Url.Action("getFacilities", "Centers")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#branchDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Select Branch</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].facility_desc + '">' + response[i].facility_desc + '</option>';
                        }
                        $('#branchDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
         });

    </script>



}
