﻿@model IEnumerable<WOOPPlusCloud2.Models.deposit>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Claims Summary (@ViewBag.fromDate to @ViewBag.toDate)</h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">

        @using (Html.BeginForm("ClaimSummaryView", "Claims", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="">
                    <div class="col-xs-2">
                        <div class="controls">

                            <p>From:</p> @Html.TextBox("fromDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                        </div>
                    </div>
                </div>
            </div>
               
                <div class="row">
                    <div class="">
                        <div class="col-xs-2">
                            <div class="controls">

                                <p>To:</p>@Html.TextBox("toDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                            </div>
                        </div>
                    </div>

                   
                    <br />

                    @Html.Partial("_SearchBtn") <br /> <br />
                </div>


                }
                <div class="table-responsive">


                    <table id="tableData" class="table table-bordered table-striped">
                        <thead>

                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.date_created)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_closed)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.offline_smart_post)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.smart_not_run)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_rejected)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_paid)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_partially_paid)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_not_paid)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_returned)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_dispatched)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_not_dispatched)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.date_created)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.invoice_closed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.smart_not_run)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.smart_not_run)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoice_rejected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoice_paid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoice_partially_paid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoice_not_paid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoice_returned)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoice_dispatched)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoice_not_dispatched)
                                </td>

                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.date_created)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_closed)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.offline_smart_post)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.smart_not_run)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_rejected)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_paid)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_partially_paid)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_not_paid)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_returned)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_dispatched)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.invoice_not_dispatched)
                                </th>
                            </tr>
                        </tfoot>

                    </table>
                    <br />
                    <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>
                </div>
            </div>
    </div>

        @section Scripts
{

            <script type="text/javascript">

        $(function () {

            AjaxCall('@Url.Action("getVisit","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#visitsDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Visit Type</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].visit_type_desc + '">' + response[i].visit_type_desc + '</option>';
                    }
                    $('#visitsDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



        });


         @*$(function () {

            AjaxCall('@Url.Action("getInsurance","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#insuranceDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Insurance</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].code + '">' +  response[i].payment_account_desc + '</option>';
                    }
                    $('#insuranceDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });
        });*@

         @*$(function () {

            AjaxCall('@Url.Action("getScheme","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#schemeDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Scheme</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].scheme_code + '">' +  response[i].patient_payment_account_type_desc + '</option>';
                    }
                    $('#schemeDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



         });*@


        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }
        $(function () {
            $("#tableData").DataTable({
        "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
            });

        });

          //Export Stuff
        var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "Claims" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        $("#btnExport").click(function () {
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'ClaimsReport.xlsx');
        });
          //load branch dropdown
         $(document).ready(function () {

                AjaxCall('@Url.Action("getFacilities", "Centers")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#branchDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Select Branch</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].facility_desc + '">' + response[i].facility_desc + '</option>';
                        }
                        $('#branchDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
            });
            </script>

        }
