﻿@model IEnumerable<WOOPPlusCloud2.Models.CovidReportproc_Result>

@if (Request.IsAuthenticated)
{
    ViewBag.Title = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="hold-transition skin-blue sidebar-mini">

    @*<div class="content-wrapper">*@
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Covid-19 Outlook (@ViewBag.fromDate to @ViewBag.toDate)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">
                                            Action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Another action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#"> Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        @using (Html.BeginForm("CovidView", "Covid", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()


                            <div class="row">
                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">

                                            <p>From:</p> @Html.TextBox("fromDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">
                                            <p>Insurance:</p>  <select class="form-control" id="insuranceDropDown" name="insuranceDropDown">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">
                                            <p>Visit Type:</p>  <select class="form-control" id="visitsDropDown" name="visitsDropDown">
                                            </select>
                                        </div>
                                    </div>
                                </div>



                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">
                                            <p>Branch:</p>  <select class="form-control" id="branchDropDown" name="branchDropDown">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">

                                            <p>To:</p>@Html.TextBox("toDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="col-xs-2">
                                        <div class="controls">
                                            <p>Scheme:</p>  <select class="form-control" id="schemeDropDown" name="schemeDropDown">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                @Html.Partial("_SearchBtn") <br /> <br />
                            </div>

                        }
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table no-margin" id="tableData">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        No. of Tests: @ViewBag.Patients
                                                    </th>
                                                    <th>
                                                        Paid: @ViewBag.Paid
                                                    </th>
                                                    <th>
                                                        Not Paid: @ViewBag.NotPaid
                                                    </th>
                                                    <th>
                                                        Performed: @ViewBag.Performed
                                                    </th>
                                                    <th>
                                                        Not Performed: @ViewBag.NotPerformed
                                                    </th>
                                                    <th>
                                                        Positives: @ViewBag.Positive
                                                    </th>
                                                    <th>
                                                        Negative: @ViewBag.Negative
                                                    </th>
                                                </tr>
                                           
                                                <tr>

                                                    <th>
                                                        @Html.DisplayNameFor(model => model.VisitDate)
                                                    </th>
                                                    @*<th>
                    @Html.DisplayNameFor(model => model.OPNO)
                </th>*@
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.InvoiceNumber)
                                                    </th>

                                                    <th>
                                                        @Html.DisplayNameFor(model => model.NAMES)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Gender)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Telephone)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Age)
                                                    </th>


                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Test)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.RESULT)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.RequestedTime)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.PaymentStatus)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.SampleCollectionTime)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.ResultsEnteredTime)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.ResultsReleasedTime)
                                                    </th>


                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DoneBy)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Releasedby)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.RequestSampleCollectionTAT)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.SampleCollectionResultsTAT)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.ResultsToReleaseTAT)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.INSURANCE)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.SCHEME)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.CHANNEL)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.VISITTYPE)
                                                    </th>
                                                    <th>
                                                        Resend Results
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.VisitDate)
                                                        </td>
                                                        @*<td>
                        @Html.DisplayFor(modelItem => item.OPNO)
                    </td>*@
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.InvoiceNumber)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.NAMES)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Gender)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Telephone)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Age)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Test)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.RESULT)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.RequestedTime)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PaymentStatus)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SampleCollectionTime)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ResultsEnteredTime)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ResultsReleasedTime)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DoneBy)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Releasedby)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.RequestSampleCollectionTAT)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SampleCollectionResultsTAT)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ResultsToReleaseTAT)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.INSURANCE)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SCHEME)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CHANNEL)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.VISITTYPE)
                                                        </td>
                                                        <td>
                                                            <div class="">
                                                                <div class="col-xs-3">
                                                                    <div class="controls">
                                                                        <p>
                                                                            <button type="#" class="btn btn-success">
                                                                                <span class="glyphicon glyphicon-ok-sign"></span> Resend
                                                                            </button>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                        <br />
                                        <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            @*<div class="col-md-4">

                                </div>*@
                            <!-- /.col -->

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer">

                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row -->


    </section>
    <!-- /.content -->
    @*</div>*@
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->


</body>

@section Scripts
{

    <script type="text/javascript">

        $(function () {

            AjaxCall('@Url.Action("getVisit","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#visitsDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Visit Type</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].visit_type_desc + '">' + response[i].visit_type_desc + '</option>';
                    }
                    $('#visitsDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



        });



         $(function () {

            AjaxCall('@Url.Action("getInsurance","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#insuranceDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Insurance</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].code + '">' +  response[i].payment_account_desc + '</option>';
                    }
                    $('#insuranceDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });
              //scheme
             $('#insuranceDropDown').on("change", function () {
                 var insurance = $('#insuranceDropDown').val();
                 var obj = { insurance: insurance };
                 AjaxCall('@Url.Action("getScheme","DiagnosisReport")', JSON.stringify(obj), 'POST').done(function (response) {
                     if (response.length > 0) {
                         $('#schemeDropDown').html('');
                         var options = '';
                         options += '<option value="" disabled selected>Select Scheme</option>';
                         for (var i = 0; i < response.length; i++) {
                             options += '<option value="' + response[i].scheme_code + '">' + response[i].patient_payment_account_type_desc + '</option>';
                         }
                         $('#schemeDropDown').append(options);

                     }
                 }).fail(function (error) {
                     alert(error.StatusText);
                 });
             });

             //end of scheme
        });

        


        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }
        $(function () {
            $("#tableData").DataTable({
        "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
            });

        });

          //Export Stuff
        var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "Covid" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        $("#btnExport").click(function () {
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'Covid.xlsx');
        });
          //load branch dropdown
         $(document).ready(function () {

                AjaxCall('@Url.Action("getFacilities", "Centers")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#branchDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Select Branch</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].facility_desc + '">' + response[i].facility_desc + '</option>';
                        }
                        $('#branchDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
            });
    </script>



}
