﻿<div class="">
    <div class="col-xs-2">
        <div class="controls">
            
            <p><b>From:</b></p> @Html.TextBox("fromDate", null, new { @class = "form-control", @required = "required", @type = "date" })
            

        </div>
    </div>
</div>
<div class="">
    <div class="col-xs-2">
        <div class="controls">
            
            <p><b>To:</b></p>@Html.TextBox("toDate", null, new { @class = "form-control", @required = "required", @type = "date" })
            

        </div>
    </div>
</div>

