﻿@using Microsoft.AspNet.Identity
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewBag.Title</title>

        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        @Styles.Render("~/Content/css")
        @Styles.Render("~/admin-lte/css")
        @Styles.Render("~/all-skins/css")
        @Styles.Render("~/bower_components/styles")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- Google Font -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">

        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- DataTables -->
        <link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
        <!-- Theme style -->

        @RenderSection("Styles", required: false)

    </head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
    <body class="fixed hold-transition skin-black-light sidebar-mini-expand-feature">
        <div class="wrapper">
            <!-- Main Header -->
            <header class="main-header">
                <!-- Logo -->
                <a href="#" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>CheckUps</b>DB</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>CheckUps</b>Dashboards</span>
                </a>
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    @*<ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">

                            <select class="form-control" id="facilitiesDropDown">
                                <option value="Branch">Branch</option>
                            </select>

                        </li>
                    </ul>*@


                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <div class="profile-image"></div>
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                    {
                                        <span id="top-username" class="hidden-xs">@User.Identity.Name</span>
                                    }

                                </a>
                                <ul class="dropdown-menu">

                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        
                                        
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="pull-left">
                                                @Html.ActionLink("Profile", "Index", "Manage", null, new { title = "Manage", @class = "btn btn-default btn-flat" })
                                            </div>
                                            <div class="pull-right">
                                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Log off</a>
                                            </div>
                                        }
                                        
                                    </li>

                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            @*<li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>*@
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <ul class="sidebar-menu" data-widget="tree">
                        @*<li class="header">HEADER</li>*@
                        <!-- Optionally, you can add icons to the links -->
                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Home")">
                                    <i class="fa fa-home"></i> <span>Dashboard</span>

                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ConciergeIndex", "ConciergeSummary")">
                                    <i class="fa fa-table"></i> <span>Concierge</span>

                                </a>
                            </li>
                            if (User.IsInRole("Admin") || User.IsInRole("Clinical") || User.IsInRole("Manager"))
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-table"></i> <span>Covid Reports</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            @Html.ActionLink("Covid", "CovidView", "Covid")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Covid TATs", "CovidTATView", "Covid")
                                        </li>


                                    </ul>
                                </li>
                            }
                            <li>
                                <a href="@Url.Action("RefillsView", "Refills")">
                                    <i class="fa fa-table"></i> <span>Refills</span>

                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("PatientRemindersView", "PatientReminders")">
                                    <i class="fa fa-table"></i> <span>Reminders</span>

                                </a>
                            </li>

                            if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-table"></i> <span>Revenue</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            @Html.ActionLink("Revenue report", "AllRevenueView", "Financial")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Insurance", "FinancialReportView", "Financial")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Insurance & Scheme", "InsuranceSchemeRevenue", "Financial")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Detailed Report", "FinancialDetailed", "Financial")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Departmental", "DepartmentRevenue", "Financial")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Visit Type", "VisitTypeRevenue", "Financial")
                                        </li>
                                        <li class="treeview">
                                            <a href="#">
                                                <i class="fa fa-table"></i> <span>Price Lists</span>
                                                <span class="pull-right-container">
                                                    <i class="fa fa-angle-left pull-right"></i>
                                                </span>
                                            </a>
                                            <ul class="treeview-menu">
                                                <li>
                                                    @Html.ActionLink("Drugs", "DrugPrices", "Prices")
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Labs", "LabPrices", "Prices")
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Services", "ServicePrices", "Prices")
                                                </li>

                                            </ul>

                                        </li>
                                        <li>
                                            @Html.ActionLink("Cash Receipts", "CashReceiptsView", "Financial")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("ClaimSummaryView", "Claims")">
                                        <i class="fa fa-table"></i> <span>Claims</span>

                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AgingReportView", "Aging")">
                                        <i class="fa fa-table"></i> <span>Aging</span>

                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PayablesReportView", "Payables")">
                                        <i class="fa fa-table"></i> <span>Payables</span>

                                    </a>
                                </li>

                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-table"></i> <span>Stocks</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            @Html.ActionLink("Complete Movement", "CompleteMovementView", "CompleteMovement")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Goods Sold", "GoodsSoldView", "GoodsSold")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Goods Purchased", "GoodsPurchasedView", "GoodsPurchased")
                                        </li>

                                    </ul>
                                </li>
                            }
                            if (User.IsInRole("Admin") || User.IsInRole("Clinical") || User.IsInRole("Manager"))
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-table"></i> <span>Clinical Reports</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            @Html.ActionLink("Patients", "PatientReportView", "PatientsReport")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Diagnosis", "DiagnosisReportView", "DiagnosisReport")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Vitals", "VitalsReportView", "VitalsReport")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Body Composition", "BodyCompositionView", "VitalsReport")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Labs", "LabReportView", "LabReport")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Urinalysis", "UrinalysisView", "Urinalysis")
                                        </li>

                                    </ul>
                                </li>
                            }



                            if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a href="@Url.Action("Index", "ManageUsers")">
                                        <i class="fa fa-table"></i> <span>Manage Users</span>
                                    </a>
                                </li>


                            }
                        }

                    </ul>
                   
                    <!-- /.sidebar-menu -->
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                @*<section class="content-header">*@
                @*<h1>
                CheckUps Medical Center*@
                @*<small>Kisiwa, Cha Lamu</small>*@
                @*</h1>
                </section>*@
                <!-- Main content -->
                <section class="content container-fluid">

                    @RenderBody()



                    <!--------------------------
                | Your Page Content Here |
                -------------------------->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <!-- Main Footer -->
            <footer class="main-footer">

                <!-- Default to the left -->
                <strong>Copyright &copy; @DateTime.Now.Year <a href="#">CheckUps Medical Center</a>.</strong> All rights reserved.
            </footer>
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li class="active">
                        <a href="#control-sidebar-home-tab" data-toggle="tab">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#control-sidebar-settings-tab" data-toggle="tab">
                            <i class="fa fa-gears"></i>
                        </a>
                    </li>
                </ul>

            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
        <!-- ./wrapper -->
        <!-- REQUIRED JS SCRIPTS -->
        <!-- jQuery 3 -->
        <!-- /.card -->
        <script src="~/Content/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- DataTables -->
        <script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
        <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
        <!-- AdminLTE App -->
        <script src="~/admin-lte/js/adminlte.min.js"></script>

        <!-- AdminLTE for demo purposes -->
        <script src="~/admin-lte/js/demo.js"></script>
        <script src="~/Scripts/FileSaver.js-master/dist/FileSaver.min.js"></script>
        <script src="~/Scripts/sheetjs-master/dist/xlsx.full.min.js"></script>
        

        @Scripts.Render("~/bower_components/jquery-ui")
        <!-- Bootstrap 3.3.7 -->
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bower_components/morris")
        @Scripts.Render("~/bower_components/jquery-sparkline")
        @Scripts.Render("~/admin-lte/plugins/jvectormap")
        @Scripts.Render("~/bower_components/jquery-knob")
        @Scripts.Render("~/bower_components/moment")
        @Scripts.Render("~/bower_components/bootstrap-daterangepicker")
        @Scripts.Render("~/bower_components/bootstrap-datepicker")
        @Scripts.Render("~/admin-lte/plugins/bootstrap-wysihtml5")
        @Scripts.Render("~/bower_components/jquery-slimscroll")
        @Scripts.Render("~/bower_components/fastclick")
        @Scripts.Render("~/admin-lte/js/pages")
        <!-- AdminLTE App -->
        @Scripts.Render("~/admin-lte/js")
        @RenderSection("scripts", required: false)
        @*@RenderSection("scripts", true)*@

        <!-- Optionally, you can add Slimscroll and FastClick plugins.
    Both of these plugins are recommended to enhance the
    user experience. -->

        <script>
            $.widget.bridge('uibutton', $.ui.button);
            var firstLetter = $('#user-name').text().charAt(0).toUpperCase();
            $('div.profile-image').text(firstLetter);
            $('div.profile-image').css('display', 'inline');
        </script>
       


    </body>
@*</html>*@