﻿@model WOOPPlusCloud2.Models.DisplayTargets_Result

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Target</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.target_id)

        <div class="form-group">
            @Html.LabelFor(model => model.target_name, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.target_name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.target_name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.target_value, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.target_value, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.target_value, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "TargetView")
</div>