﻿@if (Request.IsAuthenticated)
{
    ViewBag.Title = "AgingReportView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<WOOPPlusCloud2.Models.DisplayTargets_Result>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Performance Metrics</h3>
    </div>

    <div class="box-body">
        <table class="table table-bordered" id="targets">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.target_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.target_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.target_value)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        //Load Data in Table when documents is ready  
       
    function LoadData() {
        $("#tbltarget tbody tr").remove();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getTargets")',
            dataType: 'json',
            data: { id: '' },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                    + "<td>" + item.target_id + "</td>"
                    + "<td>" + item.target_name + "</td>"
                    + "<td>" + item.target_value + "</td>"
                    + "</tr>";
                    $('#tbltarget tbody').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }
    </script>
}
  
