﻿@model IEnumerable<WOOPPlusCloud2.Models.Reminders_Result>
@if (Request.IsAuthenticated)
{
    ViewBag.Title = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Reminders Outlook (@ViewBag.fromDate to @ViewBag.toDate)</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">
                                    Action
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Another action
                                </a>
                            </li>
                            <li>
                                <a href="#"> Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"> Separated link</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                @using (Html.BeginForm("RefillsView", "Refills", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="">
                        <div class="col-xs-3">
                            <div class="controls">
                                <p>From:</p> @Html.TextBox("fromDate", null, new { @class = "form-control", @required = "required", @type = "date"  })
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-xs-3">
                            <div class="controls">
                                <p>To:</p>@Html.TextBox("toDate", null, new { @class = "form-control", @required = "required", @type = "date" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="">
                        <div class="col-xs-3">
                            <div class="controls">
                                <p>
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                }
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-body">
                           
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                        <tr>
                                            <th>Reminder Date</th>
                                            <th>Total Reminders</th>
                                            <th>Resolved(Internal)</th>
                                            <th>Resolved (External)</th>
                                            <th>Outstanding</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ReminderDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Total)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.sms_sent)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.patient_reminder_resolution_id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.outstanding)
                                                </td>
                                            </tr>
                                        }

                                    </tbody>

                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.chart-responsive -->
                    </div>


                </div>
                <!-- /.row -->
            </div>
            <!-- ./box-body -->
            <div class="box-footer">

                <!-- /.row -->
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>