﻿@model WOOPPlusCloud2.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
     Layout = "~/Views/Shared/UserLayout.cshtml";
}
    <div class="login-box">
        @* Logo goes here *@
        <div class="login-logo">
            <a><b>CheckUps</b>Dashboards</a>
        </div>
        <h2>@ViewBag.Title.</h2>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Email Link" />
                </div>
            </div>
        }
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
