﻿@model WOOPPlusCloud2.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewBag.Title = "WOOPCloudPlus | Register";
}


<div class="register-box">
    @* Company Logo *@
    <div class="register-logo">
        <a><b>CheckUps</b>Dashboards</a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Register for an account</p>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new {placeholder = "Email", @class = "form-control"})
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new {placeholder = "Password", @class = "form-control"})
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.ConfirmPassword, new {placeholder = "Confirm Password", @class = "form-control"})
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group has-feedback">
                        <label>
                            <input type="checkbox"> I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
        }
        <hr/>
        <p>
            @Html.ActionLink("Login", "Login")
        </p>

    </div>
</div>