﻿@{
    ViewBag.Title = "CheckUps | Register Success";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="login-box">
    @* Logo goes here *@
    <div class="login-logo">
        <a><b>CheckUps</b>Dashboards</a>
    </div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title "><i class="fa fa-check-square-o"></i> Successfully Registered</h3>
        </div>
        <div class="box-body">
            <h5>You have successfully created a new account.</h5>
            <h5>You can login once you are approved.</h5>
            <h5>Contact the IT department for account approval.</h5>
        </div>
        <div class="box-footer clearfix">
            @Html.ActionLink("Close", "Login", null, new { @class = "btn btn-sm btn-success btn-flat fa-pull-right" })
        </div>
    </div>
</div>




