﻿
@model  IEnumerable<WOOPPlusCloud2.Models.SupplierTransProc_Result>
@if (Request.IsAuthenticated)
{
    ViewBag.Title = "PayablesReportView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">

        <h3 class="card-title">
            Payables Report (@ViewBag.fromDate to @ViewBag.toDate)
        </h3>

    </div>

    @using (Html.BeginForm("PayablesReportView", "Payables", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_DateSearch")<br /><br />
        @Html.Partial("_SearchBtn")<br /><br />

    }
    <div class="table-responsive">


        <table id="tableData" class="table table-bordered table-striped">
            <thead>

                <tr>
                    <th>
                        Total: @ViewBag.TotalPayable
                    </th>

                    <th>
                        Paid: @ViewBag.TotalPaid
                    </th>
                    <th>
                        Balance Due: @ViewBag.TotalBalance
                    </th>

                </tr>
            </thead>
            <thead>
                <tr>
                    <th>
                        Code
                    </th>
                    <th>
                        Supplier
                    </th>

                    <th>
                        Total
                    </th>
                    <th>
                        Paid
                    </th>
                    <th>
                        Balance
                    </th>
                    <th>
                        Last Payment Amount
                    </th>
                    <th>
                        Last Payment Date
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.supplier_account)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.supplier_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.payments.supplier_payment_amount)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.payments.balance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.payments.last_supplier_payment_amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.payments.supplier_payment_date)
                        </td>
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Code
                    </th>
                    <th>
                        Supplier
                    </th>

                    <th>
                        Total
                    </th>
                    <th>
                        Paid
                    </th>
                    <th>
                        Balance
                    </th>
                    <th>
                        Last Payment Amount
                    </th>
                    <th>
                        Last Payment Date
                    </th>
                </tr>
            </tfoot>


        </table>
        <br />

        <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>

    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#tableData").DataTable({
                "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
            });
        });
        //Export Stuff
        var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "PayablesReport" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        $("#btnExport").click(function () {
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'PayablesReport.xlsx');
        });
    </script>
}
