﻿@model  IEnumerable<WOOPPlusCloud2.Models.CompleteMovementProc_Result>

@{
    ViewBag.Title = "CheckUps | Home";
  
}

<body class="hold-transition skin-blue sidebar-mini">

    @*<div class="content-wrapper">*@
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <a href="@Url.Action("PayablesReportView", "Payables")">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua">
                            <i class="ion ion-ios-gear-outline"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Payables</span>
                            <span class="info-box-number">Ksh @ViewBag.TotalPayable<small></small></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>

            <!-- /.col -->
            <a href="@Url.Action("FinancialReportView", "Financial")">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red">
                            <i class="fa glyphicon-text-background"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Revenue</span>
                            <span class="info-box-number">Ksh @ViewBag.Revenue</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
            <a href="@Url.Action("FinancialReportView", "Financial")">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green">
                            <i class="ion ion-ios-cart-outline"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Savings</span>
                            <span class="info-box-number">@ViewBag.Savings %</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>
            <!-- /.col -->
            <a href="@Url.Action("CompleteMovementView", "CompleteMovement")">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow">
                            <i class="ion ion-android-cart"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Margin</span>
                            <span class="info-box-number">@ViewBag.MarginP %</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Monthly Recap Report</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">
                                            Action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Another action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#"> Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="text-center">
                                    <strong>Revenue vs Costs (in millions)</strong>
                                </p>
                                <div class="chart">
                                    <!-- Sales Chart Canvas -->
                                    @*<canvas id="salesChart" style="height: 180px;"></canvas>*@
                                    <canvas id="areaChart" style="height: 300px"></canvas>
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <p class="text-center">
                                    <strong>Target Completion</strong>
                                </p>
                                <div class="progress-group">
                                    <span class="progress-text">30% Cost Savings</span>
                                    <span class="progress-number"><b>@ViewBag.Savings</b>/<b>@ViewBag.TargetCosts</b></span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-aqua" style="width: @ViewBag.CostCSS%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">Revenue</span>
                                    <span class="progress-number"><b>@ViewBag.Revenue</b>/<b>@ViewBag.TargetRevenue</b></span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-red" style="width: @ViewBag.RevenueCSS%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">Lab/Lab TAT</span>
                                    <span class="progress-number"><b>@ViewBag.TAT</b>/<b>@ViewBag.TAT</b></span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-green" style="width: @ViewBag.TATCSS%"></div>
                                    </div>
                                </div>
                                @*/.progress-group
                                    <div class="progress-group">
                                        <span class="progress-text">Items out of stock</span>
                                        <span class="progress-number"><b>@ViewBag.Items</b>/<b>@ViewBag.TotalItems</b></span>
                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.StockCSS%"></div>
                                        </div>
                                    </div>*@
                                <!-- /.progress-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    @if (ViewBag.Performance > 0)
                                    {
                                        ViewBag.Performance = string.Format("{0:#,###0}", ViewBag.Performance);
                                        <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> @ViewBag.Performance%</span>
                                    }
                                    else if (ViewBag.Performance == 0)
                                    {
                                        ViewBag.Performance = string.Format("{0:#,###0}", ViewBag.Performance);
                                        <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i>@ViewBag.Performance%</span>
                                    }
                                    else
                                    {
                                        ViewBag.Performance = string.Format("{0:#,###0}", ViewBag.Performance);
                                        <span class="description-percentage text-red">
                                            <i class="fa fa-caret-down"></i>@ViewBag.Performance%
                                        </span>
                                    }

                                    @*<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> @ViewBag.Performance%</span>*@
                                    <h5 class="description-header">Ksh @ViewBag.Revenue</h5>
                                    <span class="description-text">TOTAL REVENUE</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    @if (ViewBag.CostPerformance > 0)
                                    {
                                        ViewBag.CostPerformance = string.Format("{0:#,###0}", ViewBag.CostPerformance);

                                        <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> @ViewBag.CostPerformance%</span>
                                    }
                                    else if (ViewBag.CostPerformance == 0)
                                    {
                                        ViewBag.CostPerformance = string.Format("{0:#,###0}", ViewBag.CostPerformance);
                                        <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i>@ViewBag.CostPerformance%</span>
                                    }
                                    else
                                    {
                                        ViewBag.CostPerformance = string.Format("{0:#,###0}", ViewBag.CostPerformance);
                                        <span class="description-percentage text-red">
                                            <i class="fa fa-caret-down"></i>@ViewBag.CostPerformance%
                                        </span>
                                    }
                                    @*<span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> @ViewBag.CostPerformance%</span>*@
                                    <h5 class="description-header">Ksh @ViewBag.Cost</h5>
                                    <span class="description-text">TOTAL COST</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    @if (ViewBag.MarginPerformance > 0)
                                    {
                                        ViewBag.MarginPerformance = string.Format("{0:#,###0}", ViewBag.MarginPerformance);
                                        <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> @ViewBag.MarginPerformance%</span>
                                    }
                                    else if (ViewBag.MarginPerformance == 0)
                                    {
                                        ViewBag.MarginPerformance = string.Format("{0:#,###0}", ViewBag.MarginPerformance);
                                        <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i>@ViewBag.MarginPerformance%</span>
                                    }
                                    else
                                    {
                                        ViewBag.MarginPerformance = string.Format("{0:#,###0}", ViewBag.MarginPerformance);
                                        <span class="description-percentage text-red">
                                            <i class="fa fa-caret-down"></i>@ViewBag.MarginPerformance%
                                        </span>
                                    }
                                    @*<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> @ViewBag.MarginPerformance%</span>*@
                                    <h5 class="description-header">Ksh @ViewBag.Margin</h5>
                                    <span class="description-text">TOTAL PROFIT</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block">
                                    @if (ViewBag.AgingPerformance > 0)
                                    {
                                        ViewBag.AgingPerformance = string.Format("{0:#,###0}", ViewBag.AgingPerformance);
                                        <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> @ViewBag.AgingPerformance%</span>
                                    }
                                    else if (ViewBag.AgingPerformance == 0)
                                    {
                                        ViewBag.AgingPerformance = string.Format("{0:#,###0}", ViewBag.AgingPerformance);
                                        <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i>@ViewBag.AgingPerformance%</span>
                                    }
                                    else
                                    {
                                        ViewBag.AgingPerformance = string.Format("{0:#,###0}", ViewBag.AgingPerformance);
                                        <span class="description-percentage text-red">
                                            <i class="fa fa-caret-down"></i>@ViewBag.AgingPerformance%
                                        </span>
                                    }
                                    @*<span class="description-percentage text-red"><i class="fa fa-caret-down"></i> @ViewBag.AgingPerformance%</span>*@
                                    <h5 class="description-header">Ksh @ViewBag.Aging</h5>
                                    <span class="description-text">AGED RECEIVABLES</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
                <!-- MAP & BOX PANE -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">No. of Visits per Service Type</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                        <!-- Morris chart - Sales -->
                        <div class="chart tab-pane active" id="bar-chart" style="height: 300px; position: relative;"></div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-6">
                        <!-- USERS LIST -->
                        <!--/.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <div id="MostStocks">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Top Purchased Drugs</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Dispensed</th>
                                            <th>ReOrder Level</th>
                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.center_product_description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DISPENSED)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.center_product_reorder_level)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.StockDifference)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.box-body -->
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <div class="box-footer clearfix">
                                @*<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>*@
                                @Html.ActionLink("View Complete Movement Report", "CompleteMovementView", "CompleteMovement", null, new { @class = "btn btn-sm btn-default btn-flat pull-right" })
                                @*<a href="" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>*@
                            </div>
                        }
                        <!-- /.box-footer -->

                    </div>
                </div>

                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">

                <!-- /.info-box -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Revenue per Site</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="chart-responsive">
                                    <canvas id="pieChart" height="200"></canvas>
                                </div>
                                <!-- ./chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <ul class="chart-legend clearfix">
                                    <li><i class="fa fa-circle-o text-red"></i> GA House</li>
                                    
                                    <li><i class="fa fa-circle-o text-yellow"></i> JKIA</li>
                                    <li><i class="fa fa-circle-o text-aqua"></i></li>
                                    <li>
                                        <i class="fa fa-circle-o text-light-blue"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-circle-o text-gray"></i>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <!-- /.footer -->
                </div>
                <!-- /.box -->
                <!-- PRODUCT LIST -->
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    @*</div>*@
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <!-- ./wrapper -->
    <!-- ChartJS -->
</body>



    <script src="~/bower_components/chart.js/Chart.min.js"></script>
    <script src="~/bower_components/chart.js/Chart.min.js"></script>

    <script type="text/javascript">

        /*
            * Fetch statistics for the dashboard
            * These statistics include: total sms sent, sms balance, sms delivery rate, cluster turnover and most recent clustered patient.
            * This function polls for the statistics every 5 seconds.
            *
            */
        var pullTheStats = function() {
            $.ajax({
                url: '@Url.Action("Stats", "Home")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                success: function(payload) {

                    var bar = new Morris.Bar({
                        element: 'bar-chart',
                        barSizeRatio: 0.5,
                        resize: true,
                        data: payload.clusterStatsList,
                        barColors: ['#00a65a', '#f39c12', '#cd6954', '#808080'],
                        xkey: 'periodLabel',
                        ykeys: ['cluster1', 'cluster2', 'cluster3', 'cluster4'],
                        labels: ['Concierge', 'Walk-Ins', 'Wellness', 'PSP'],
                        hideHover: 'auto'
                    });

                }
            });
            setTimeout(pullTheStats, 5000);
        };

        setTimeout(pullTheStats, 5000);
        //Area Chart
        $(function() {
            /* ChartJS
             * -------
             * Here we will create a few charts using ChartJS
             */

            //--------------
            //- AREA CHART -
            //--------------

            // Get context with jQuery - using jQuery's .get() method.
            var areaChartCanvas = $('#areaChart').get(0).getContext('2d');
            // This will get the first returned node in the jQuery collection.
            var areaChart = new Chart(areaChartCanvas);

            var dispalyList = @Html.Raw(Json.Encode(ViewBag.Month));
            for (var i = 0; i < dispalyList.length; i++) {

                var row = dispalyList[i];
            }
            var areaChartData = {
                labels: @Html.Raw(Json.Encode(ViewBag.Month)),
                //labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [
                    {
                        url: '@Url.Action("Index", "Home")',
                        type: 'GET',
                        dataType: 'json',
                        cache: true,
                        label: 'Revenue',
                        fillColor: 'rgba(210, 214, 222, 1)',
                        strokeColor: 'rgba(210, 214, 222, 1)',
                        pointColor: 'rgba(210, 214, 222, 1)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: @Html.Raw(Json.Encode(ViewBag.SalesChart)),
                        //data: [65, 59, 80, 81, 56, 55, 40]
                    }, {
                        label: 'Costs',
                        fillColor: 'rgba(60,141,188,0.9)',
                        strokeColor: 'rgba(60,141,188,0.8)',
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: @Html.Raw(Json.Encode(ViewBag.CostsChart)),
                        //data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            };

            var areaChartOptions = {
                //Boolean - If we should show the scale at all
                showScale: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: false,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - Whether the line is curved between points
                bezierCurve: true,
                //Number - Tension of the bezier curve between points
                bezierCurveTension: 0.3,
                //Boolean - Whether to show a dot for each point
                pointDot: false,
                //Number - Radius of each point dot in pixels
                pointDotRadius: 4,
                //Number - Pixel width of point dot stroke
                pointDotStrokeWidth: 1,
                //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                pointHitDetectionRadius: 20,
                //Boolean - Whether to show a stroke for datasets
                datasetStroke: true,
                //Number - Pixel width of dataset stroke
                datasetStrokeWidth: 2,
                //Boolean - Whether to fill the dataset with a color
                datasetFill: true,
                //String - A legend template
                legendTemplate:
                    '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].lineColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true
            };

            //Create the line chart
            areaChart.Line(areaChartData, areaChartOptions);
        });
        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
        var pieChart = new Chart(pieChartCanvas);
        var PieData = [
            {
                value: @Html.Raw(ViewBag.ChartRevenue),
                color: '#f56954',
                highlight: '#f56954',
                label: 'GA House'
            },
            //{
            //    value: 0,
            //    color: '#00a65a',
            //    highlight: '#00a65a',
            //    label: 'ABC'
            //},
            {
                value: 0,
                color: '#f39c12',
                highlight: '#f39c12',
                label: 'JKIA'
            }
        ];
        var pieOptions = {
            //Boolean - Whether we should show a stroke on each segment
            segmentShowStroke: true,
            //String - The colour of each segment stroke
            segmentStrokeColor: '#fff',
            //Number - The width of each segment stroke
            segmentStrokeWidth: 2,
            //Number - The percentage of the chart that we cut out of the middle
            percentageInnerCutout: 50, // This is 0 for Pie charts
            //Number - Amount of animation steps
            animationSteps: 100,
            //String - Animation easing effect
            animationEasing: 'easeOutBounce',
            //Boolean - Whether we animate the rotation of the Doughnut
            animateRotate: true,
            //Boolean - Whether we animate scaling the Doughnut from the centre
            animateScale: false,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true,
            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            //String - A legend template
            legendTemplate:
                '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<segments.length; i++){%><li><span style="background-color:<%=segments[i].fillColor%>"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>'
        };
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        pieChart.Doughnut(PieData, pieOptions);


    </script>







