﻿@if (Request.IsAuthenticated)
{
    ViewBag.Title = "CheckUps Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <div id="ajaxHome">

    </div>
}



@*@section Scripts
{*@
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("_Index", "Home")',
                //datatype: "json",
                type: "POST",
                contenttype: "text/html; charset=utf-8",
                async: true,
                success: function (data) {
                    $("#ajaxHome").html(data);
                },
                error: function (xhr) {
                    alert('error');
                }
            });

        });
    </script>
@*}*@