﻿
@model  IEnumerable<WOOPPlusCloud2.Models.AgingProc_Result>

@if (Request.IsAuthenticated)
{
    ViewBag.Title = "AgingReportView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Aging Report</h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <!-- /.box-header -->
        @using (Html.BeginForm("AgingReportView", "Aging", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div class="row">
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">

                        <p>From:</p> @Html.TextBox("fromDate", null, new { @class = "form-control", @required = "required", @type = "date" })

                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">
                        <p>Invoice Type:</p>  <select class="form-control" id="schemeDropDown" name="schemeDropDown">
                            <option value="" disabled selected>All</option>
                            <option value="insurance">By Insurance</option>
                            <option value="scheme">By Scheme</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="">
                <div class="col-xs-2">
                    <div class="controls">

                        <p>To:</p>@Html.TextBox("toDate", null, new { @class = "form-control", @required = "required", @type = "date" })


                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-xs-2">
                    <div class="controls">
                        <p>Branch:</p>  <select class="form-control" id="branchDropDown" name="branchDropDown">
                        </select>
                    </div>
                </div>
            </div>
            <br />
            @Html.Partial("_SearchBtn")<br /> <br />
        </div>

        }
        
        <div class="table-responsive">


            <table id="tableData" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Total Charged: @ViewBag.TotalCharge
                        </th>
                        <th>
                            Total Paid:  @ViewBag.TotalPaid
                        </th>
                        <th>
                            Running Balance: @ViewBag.RunningBalance
                        </th>
                    </tr>
                </thead>

                <thead>
                    <tr>
                        <th>
                            Insurance
                        </th>
                        <th>
                            Scheme
                        </th>
                        <th>
                            Current
                        </th>
                        <th>
                            30 Days
                        </th>
                        <th>
                            60 Days
                        </th>
                        <th>
                            90 Days
                        </th>
                        <th>
                            120 & Above
                        </th>
                        <th>
                            150 & Above
                        </th>

                        <th>
                            Total
                        </th>

                        <th>
                            Unallocated
                        </th>
                        <th>
                            Collection
                        </th>
                        <th>
                            Balance
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.payment_account_desc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.patient_payment_account_type_desc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.summary_current)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.summary_thirty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.summary_sixty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.summary_ninety)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.summary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.summary_over_one_fifty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TOTALCHARGE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.unallocated_amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PAIDAMOUNT)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.running_balance)
                        </td>

                        <td>
                            @*@Html.DisplayFor(modelItem => item.CENTER)*@
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            Insurance Company
                        </th>
                        <th>
                            Current
                        </th>
                        <th>
                            30 Days
                        </th>
                        <th>
                            60 Days
                        </th>
                        <th>
                            90 Days
                        </th>
                        <th>
                            120 & Above
                        </th>
                        <th>
                            150 & Above
                        </th>

                        <th>
                            Total
                        </th>

                        <th>
                            Unallocated
                        </th>
                        <th>
                            Collection
                        </th>
                        <th>
                            Balance
                        </th>
                    </tr>
                </tfoot>
            </table>
            <br />

            <button type="submit" id="btnExport" class="btn btn-microsoft"><span class="fa fa-angle-down"></span> Export to Excel</button>

        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
          $(function () {

            AjaxCall('@Url.Action("getInsurance","DiagnosisReport")', null).done(function (response) {
                if (response.length > 0) {
                    $('#insuranceDropDown').html('');
                    var options = '';

                    options += '<option value="" disabled selected>Select Insurance</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].code + '">' +  response[i].payment_account_desc + '</option>';
                    }
                    $('#insuranceDropDown').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });



        });

        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                async: true,
                contentType: 'application/json'
            });
                }

         $(function () {
            $("#tableData").DataTable({
        "lengthMenu": [[100, 150, 200, -1], [100, 150, 200, "All"]]
    });
        });
        //Export Stuff
        var wb = XLSX.utils.table_to_book(document.getElementById('tableData'), { sheet: "Aging" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        $("#btnExport").click(function () {
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'Aging.xlsx');
        });
             //load branch dropdown
         $(document).ready(function () {

                AjaxCall('@Url.Action("getFacilities", "Centers")', null).done(function (response) {
                    if (response.length > 0) {
                        $('#branchDropDown').html('');
                        var options = '';
                        options += '<option value="" disabled selected>Select Branch</option>'
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].facility_desc + '">' + response[i].facility_desc + '</option>';
                        }
                        $('#branchDropDown').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
            });
    </script>
    }


