﻿@model IEnumerable<WOOPPlusCloud2.Models.test>

@{
    ViewBag.Title = "LabTests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LabTests</h2>

<p>
    @ViewBag.TAT
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.test_internal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lab_test_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.result_positive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staff_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cycle_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sub_lab_test_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.done)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.center_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lab_test_categ_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sample)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requestdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.done_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.samplecollectiontime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.samplecollectedby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.samplecondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.samplelocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.request_center)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.samplecomment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.labcomment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sample_quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.test_cancelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consultation_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.external_test)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.external_facility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entered_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fromexternal_test)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fromexternal_facility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cancellation_comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verified_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verified_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verified_comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cancelled_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cancelled_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proforma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item_created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item_created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isinpatient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isinsurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.service_type_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regular_retail_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.savings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vat_amount)
        </th>
        <th></th>
    </tr>

</table>